{{!-- Display ALL Blogs on the Home Page --}}

{{!-- Blogger's Username --}}
<label for="username">Username: {{user.username}}</label>
{{!-- Blog Date --}}
<label for="blogDate">Date Posted: {{blog_post_date}}</label>
{{!-- Blog Title --}}
<label for="blogTitle">Blog Title: {{blogs.blog_title}}</label>
{{!-- Blog Content --}}
<h1>blogContent:{{blog_content}}</h1>
