{{!-- Display ALL Comment to the Blog Post --}}
<div class="">
    <p class="">{{user.username}} <i class="fa fa-commenting-o" aria-hidden="true"></i></p>
    <p class="">{{comment_post_date}}</p>
    <p class="">{{comment_content}}</p>
</div>