{{!-- Display ALL Comment to the Blog Post --}}

{{!-- Commenter's Username --}}
<label for="username">Username: {{user.username}}</label>
{{!-- Comment Date --}}
<label for="blogDate">Date Posted: {{comment.post_date}}</label>
{{!-- Comment Content --}}
<label for="blogTitle">Comment: {{comment.comment_content}}</label>