{{!-- Display ALL Blogs on the Home Page --}}

<div class="allBlog-container">
    <div class="blogTitle">
        <a style="text-decoration: none" href="/blogs/{{blog_id}}">
            <h2>Blog Title: {{blog_title}}</h2>
        </a>
    </div>
    <div class="blogDetails">
        <p>Date Posted: {{blog_post_date}}</p>
    </div>
</div>