<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/hover.css">

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tech Blog</title>
</head>

<body>

    <div class=>
        <a href="/" class="">
            Home
            <img src="../images/icons/navbar/akar-icons_home.png" alt="home-button icon" class="hvr-icon"></a>

        <a href="/dashboard" class="">
            Dashboard
            <i class="fa fa-address-card-o hvr-icon" aria-hidden="true"></i>
        </a>
        {{#if logged_in}}
        <a id="logout-btn" class="hvr-icon-up">
            Logout
            <img src="../images/icons/navbar/ri_logout-circle-line.png" alt="logout icon" class="hvr-icon"></a>
        {{else}}
        <a id="login-btn" href="/login" class="navbar-item hvr-icon-float">
            Login
            <img src="../images/icons/navbar/login-icon.png" alt="login icon" class="hvr-icon"></a>
        {{/if}}
    </div>

    {{! HANDLEBARS }}
    <div>
        {{{body}}}
    </div>

</body>

{{!-- SCRIPTS --}}
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
<script src="/js/appendContent.js"></script>
<script src="https://cdn.tailwindcss.com"></script>


</html>