{{!-- Display Single Blog Post --}}
<h1> {{user.username}}'s Dashboard </h1>



{{!-- Display All User's Posts --}}
{{!-- For Each Loop --}}
<div>
    {{!-- Categories title --}}
    {{#each blog}}
    {{> myBlogs}}
    {{/each}}
</div>

{{!-- Create New Post Button --}}