{{!-- Display Single Blog Post --}}

<header id="dashboard">
    <h1>{{user.username}}'s Dashboard </h1>
</header>
<div id="subNav">
    <button id="new-btn" class="hvr-icon-float">New Post <i class="fa fa-plus-square-o hvr-icon"
            aria-hidden="true"></i></button>
</div>
<section>
    {{!-- For Each Loop --}}
    <div class="eachBlog">
        {{#each blog}}
        {{> myBlogs}}
        {{/each}}
    </div>
</section>


<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-header">
            <label for="blogTitle">Title</label>
            <input class="contentModal" type="text" id="blogTitle" />
        </div>
        <div class="modal-header">
            <label for="blogContent">Content</label>
            <input class="contentModal" type="text" id="blogContent" />
        </div>
        <div class="modal-footer">
            <button data-id="{{user.user_id}}" type="submit" id="create-btn">Create Post</button>
            <button type="cancel" id="cancel-btn">Cancel</button>
        </div>
    </div>
</div>


{{!-- Script --}}
<script src="/js/newBlog.js"></script>